.settings-number-input {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.number-input-description{
    display: flex;
    flex-direction: row;
}

.question-icon {
    color: #b4b4b4;
}